<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="https://as2.ftcdn.net/v2/jpg/01/32/04/51/1000_F_132045148_riIl36y2PJ4PRdJFpjmynMI5aoPFEHXv.jpg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">CONTACT US</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">9163363565</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Call Now</button>
        <button type="button" class="btn btn-outline-secondary btn-lg px-4">Remind Me Later</button>
      </div>
    </div>
  </div>
