<div class="container">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/doBE4sM-Xys?si=qeY9nDIkctAltAUS" allowfullscreen></iframe>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/0UqK3tfuu8Q?si=Uifz5dVxxSMgkCyf" allowfullscreen></iframe>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/-V4vEyhWDZ0?si=cf84j5DE50qZ8HxE" allowfullscreen></iframe>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/jqp__3WF6QA?si=YE8xz5SciFIe2DAf" allowfullscreen></iframe>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/RcqS48phyAM?si=AFU5zR91jD_Hh9BN" allowfullscreen></iframe>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/fRgLB7sg4Ys?si=brfKnCnGBnQlC986" allowfullscreen></iframe>
    </div>
</div>
