<div class="row error-page">
    <div class="col-md-12">
        <div class="error-template">
        <div class="error-details">
        <div class="row"><div class="col-sm-6"> <img class="img-error" src="/img/icon_for_404.png">
</div>
<div class="col-sm-6">
    <h1> Oops!</h1>
    <h2> 404 Not Found</h2><p class="error"> 
        <strong>Error: </strong> The requested address was not found on this server.</p>
        <div class="error-actions"> <a href="/" class="btn btn-info btn-lg"> <span class="glyphicon glyphicon-home"></span> Take Me Home </a>
        </div>
    </div>
   </div>
  </div>
</div>
</div>
</div>
